<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>이메일</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>상세조회</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="list: ${lists}">
                <td th:text="${list.num}"></td>
                <td th:text="${list.mememail}"></td>
                <td th:text="${list.mempass}"></td>
                <td th:text="${list.memname}"></td>
                <td>
                    <!-- 
                        목록 조회 주소 /member?num={val} 
                        rest api /member/1
                    -->
                    <a th:href="@{|/member/${list.num}|}">상세조회</a>
                </td>
                <td>
                    <a href="@{|/member/delete/${list.num}|}">삭제</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>